# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/misc.xml
/runConfigurations/code__centralBundleZip_.xml
/runConfigurations/code__release_.xml
/runConfigurations/Remote_debug.xml
